body{
    width: 1600px;
    height: 1024px;
    font-size: x-large;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: white;
}

.contenedor-imagen img{
    width: 1000px;
    margin-left: 300px;
}

h1{
    text-align: center;
    font-size: 30px;
}

h2{
    font-size: 25px;
}

.ref{
    text-align: center;
    background-color: #F15525;
    color: white;
    height: 140px;
    padding-top: 7px;
    font-size: 20px;
}

.contenedor-p{
    display: flex;
    flex-direction: row;
}

.p1{
    margin-right: 40px;
    margin-left: 20px;
}

.p2{
    margin-right: 20px;
}